@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

.header-logo {
    background-image: url('../images/fernanda.logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 280px;
    height: 50px;
    float: left;
    margin: 15px 0px 0px 40px;
}

header {
    padding-bottom: 25px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
}

nav.header-menu {
    float: right;
    margin: 35px 20px 0px 0px;
}

nav.header-menu li {
    display: inline-block;
    
}

nav.header-menu a {
    text-decoration: none;
    color: #B5B5B5;
    margin-right: 70px;
    font-size: 15px;
}

nav.header-menu a:hover {
    color: rgb(153, 153, 153);;
}

nav.header-menu a:active {
    text-decoration: underline;
}

.burguer-icon {
    display: none;
}

nav.header-menu02 ul {
    display: none;
}

main {
    margin: 80px auto;
    max-width: 1440px;
}

.mosaic-wrap {
    display: flex;
    padding: 0px 1% 0px 1.5%
}

.mosaic {
    padding: 4px;
    max-width: 200px;
    width: Calc(100% /7);
}

.mosaic-item {
    --aspect-ratio: 1/1;
    height: 0;
    padding-bottom: Calc(100% / (var(--aspect-ratio)));
    position: relative;
}

.mosaic-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mosaic-item-ig {
    --aspect-ratio: 1/1;
    height: 0;
    padding-bottom: Calc(100% / (var(--aspect-ratio)));
    position: relative;
}

.mosaic-item-ig img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#main-section {
    margin-top: 30px;
}

.blocks-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    height: 250px;
    padding: 0px 8px;
}

.blocks {
    float: left;
    height: 100%;
    width: Calc(100% / 3);
    text-align: center;
    background-color: #586975;
    color: white;
}

.blocks h2 {
    font-size: 16px;
    padding: 50px 0px 10px 0px;
}

.blocks p {
    font-weight: 200;
    font-size: 12px;
}

.blocks:nth-of-type(1) {
    padding: 0px 45px 0px 15px;
}

.blocks:nth-of-type(3) {
    padding: 0px 15px 0px 45px;
}

.blocks-content p:nth-of-type(1), .blocks-content p:nth-of-type(2) {
    padding-bottom: 20px;
} 

#block-middle p {
    padding: 0px 15px;
}

.blocks img {
    width: 25px
}

.blocks:nth-of-type(2) {
    background-color: #688292;
    transform: scale(1.2, 1.2);
}

.instagram {
    background-color: #98A6AE;
    color: white;
    text-align: center;
    padding: 40px 0px;
}

.instagram img {
    width: 30px;
}

.instagram h3 {
    font-weight: 200;
    font-size: 14px;
}

.instagram p {
    font-size: 11px;
}

.mosaic-instagram-wrap {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.mosaic-instagram {
    padding: 5px;
    max-width: 200px;
    width: Calc(100% /7);
}

.mosaic-item {
    --aspect-ratio: 1/1;
    height: 0;
    padding-bottom: Calc(100% / (var(--aspect-ratio)));
    position: relative;
}

.mosaic-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.facebook {
    background-color: #505d66;
    color: white;
    text-align: center;
    padding: 40px 0px;
}

.facebook img {
    width: 30px;
}

.facebook h3 {
    font-weight: 200;
    font-size: 14px;
}

.facebook p {
    font-size: 11px;
}

.footer-center {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    padding: 50px 8px;
}

.footer-content {

    width: Calc(100% / 3);
    padding: 0px 15px;
}

.horarios {
    text-align: right;
}

.enderecos {
    text-align: center;
}

@media screen and (max-width: 1057px) {

    .header-logo {
        float: none;
        margin: 15px 0px 0px 15px;
    }

    nav.header-menu {
        float: none;
        margin: 35px 20px 0px 15px;
    }

    main {
        margin: 130px auto;
    }
}

@media screen and (max-width: 858px) {

    .blocks h2 {
        padding-top: 30px;
    }
}

@media screen and (max-width: 740px) {

    nav.header-menu {
        display: none;
    }

    main {
        margin: 91px auto 35px auto;
    }

    header {
        padding-bottom: 0px;
    }

    .burguer-icon {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url('../images/burger-menu.png');
        background-size: 40px;
        background-repeat: no-repeat;
        background-position: right top;
        float: right;
        margin: -50px 10px 0px 0px;
        cursor: pointer;
    }

    .header-menu02 {
        padding: 45px 0px 10px 50px;
    }

    nav.header-menu02 ul {
        list-style-type: none;
        text-align: center;
    }

    nav.header-menu02 li {
        padding: 5px 0px;
    }
    
    nav.header-menu02 a {
        text-decoration: none;
        color: #B5B5B5;
        margin-right: 70px;
        font-size: 15px;
        cursor: pointer;
    }
    
    nav.header-menu02 a:hover {
        color: rgb(153, 153, 153);
    }

    nav.header-menu02 li:hover {
        background-color: lightblue;
    }
    
    nav.header-menu02 a:active {
        text-decoration: underline;
    }

    .burguer-icon:hover .header-menu02 {
        animation-name: MenuAparece;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    .burguer-icon:hover .header-menu02 ul {
        display: initial;
    }

    @keyframes MenuAparece {
        from {padding: 45px 0px 10px 50px;}
        to {padding: 70px 0px 10px 50px;}
    }


    .header-logo {
        float: left;
    }

}

@media screen and (max-width: 717px) {

    .blocks-content h2 {
        padding-top: 10px;
    }
}

@media screen and (max-width: 688px) {

    .blocks-content img {
        display: none;
    }
}

@media screen and (max-width: 622px) {
    main {
        margin: 67px auto 0px auto;
    }
    
    #main-section {
        margin-top: 0px;
    }

    .blocks-wrapper {
        height: 454px;
    }

    .blocks {
        float: none;
        height: 150px;
        width: 100%;
    }

    .blocks:nth-of-type(2) {
        background-color: #688292;
        transform: none
    }

    .blocks h2 {
        padding: 10px 2%;
    }

    .blocks:nth-of-type(1) {
        padding: 0px 15px;
    }

    .blocks:nth-of-type(3) {
        padding: 0px 15px;
    }

    #block-middle p {
        padding: 0px 15px 20px 15px;
    }

    .footer-content {
        font-size: 11px;
    }
}

@media screen and (max-width: 500px) {
    footer {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    main {
        margin: 170px auto 0px auto;
    }
    
    .burguer-icon {
        display: none;
    }
    
    .header-logo {
        float: none;
        margin: 10px auto 0 auto;

    }

    nav.header-menu02 ul {
        display: none;
    }
        
    nav.header-menu {
        display: block;
        margin: 0px 0px 0px 0px;
    }

    nav.header-menu ul {
        text-align: center;
        margin: 0 auto;
    }

    nav.header-menu li {
        display: block;
        margin-top: 8px;
    }

    nav.header-menu a {
        margin-right: 0px;
    }
    
    .mosaic-wrap {
        display: block;
        max-width: 1000px;
        height: 150px;
        padding: 0;
        margin: 0px 8px;
        background-image: url('../images/01.jpg');
        background-size: cover;
        background-position: center center;
        animation-name: ImagensMudam;
        animation-duration: 60s;
        animation-iteration-count: infinite;
    }

    @keyframes ImagensMudam {
        0% {background-image: url('../images/01.jpg');}
        8% {background-image: url('../images/02.jpg');}
        16% {background-image: url('../images/03.jpg');}
        25% {background-image: url('../images/04.jpg');}
        33% {background-image: url('../images/05.jpg');}
        41% {background-image: url('../images/06.jpg');}
        50% {background-image: url('../images/07.jpg');}
        58% {background-image: url('../images/08.jpg');}
        66% {background-image: url('../images/09.jpg');}
        75% {background-image: url('../images/10.jpg');}
        83% {background-image: url('../images/11.jpg');}
        91% {background-image: url('../images/12.jpg');}
        100% {background-image: url('../images/01.jpg');}
    }
    
    .mosaic {
        display: none;
    }

    .mosaic-item {
        display: none;
    }

    .mosaic-item img {
        display: none;
    }
/*
        #main-section {
            margin-top: 30px;
        }

    */
    .mosaic2nd {
        display: none;
    }
}
    